* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Минимальная высота на всю высоту окна */
    display: flex;
    flex-direction: column; /* Flexbox для всей страницы */
}

body {
    background-color: #4e4376;
    background-attachment: fixed;
}

nav {
    background-color: rgba(0,0,0,0.1);
    padding: 10px; /* Отступы внутри навигации */
    margin: 0; /* Убираем отступы вокруг навигации */
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
}

nav ul {
    list-style-type: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы внутри списка */
    margin: 0; /* Убираем отступы вокруг списка */
    display: flex; /* Используем Flexbox для списка */
}

nav ul li {
    margin: 0 20px; /* Отступ между пунктами */
    position: relative; /* Для абсолютного позиционирования фона и рамки */
}

nav a {
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 18px;
    font-weight: 300; /* Устанавливаем толщину шрифта на 300 */
    text-transform: uppercase; /* Заглавные буквы */
    padding: 5px 10px; /* Отступы внутри ссылок */
    position: relative; /* Для псевдоэлементов */
}


nav a:hover {
    background: #fff;
    color: #5d5d5d;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

nav a[data-active="true"] {
    background: #fff;
    color: #5d5d5d;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.search-container {
    margin-top: 1rem;
    justify-content: center; 
    display: flex;
    align-items: center;
}

/* Стили для основного контента */
.main-content {
    padding: 20px;
    margin-bottom: 3rem;
}

/* Стили для списка слов */
#words-list {
    margin: 0 auto;
    max-width: 500px;
}

.word-item {
    display: flex; /* Используем Flexbox для выравнивания */
    justify-content: space-between; /* Равномерно распределяем элементы по ширине */
    align-items: center; /* Вертикально выравниваем элементы */
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.word-item p {
    margin: 0; /* Убираем отступы для параграфа, чтобы избежать растяжения */
    flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
}

.delete-button {
    padding: 5px 10px;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #2b5876 0%,
        #4e4376 51%,
        #2b5876 100%
      );
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* Установка высоты для кнопки */
}

.delete-button:hover {
    scale: 1.05;
    transition: 0.2s;
}

.container {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Выравнивание по верхней части */
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%; /* Сдвигаем контейнер ниже */
}
  
#message {
    min-height: 20px;
    visibility: hidden;
    font-size: 20px;
}

form {
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    height: 5em;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
  
.input-group {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    color: white;
    width: 250px;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255,255,255,0);
}

input[type="text"]:focus {
    border: solid 1px rgba(255,255,255,0.8);
    outline: none;
    caret-color: white;
}

input[type="text"]::placeholder {
    color: #ffffff;
    font-weight: 100;
    opacity: 80%;
}

input[type="text"]::selection {
    background-color: #8c0d7b; /* Цвет фона выделения */
    color: #ffffff; /* Цвет текста при выделении */
}

#wordForm button {
    margin-top: 30px;
    min-width: 150px;
    height: 80px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #2b5876 0%,
        #4e4376 51%,
        #2b5876 100%
      );
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
    font-size: 17px;
  }
  
  #wordForm button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }
  
  #wordForm button:active {
    transform: scale(0.95);
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-content {
    font-family: 'Rubik', sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.about-section, .github-links {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section {
    text-align: justify;
}
.github-links {
    text-align: center; 
}

.about-section h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}

.about-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff; /* Белый цвет текста */
    margin-bottom: 15px;
}

.github-links h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.github-container {
    display: flex;
    justify-content: center; /* Центрируем ссылки */
    gap: 20px;
}

.github-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.github-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.pagination-button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #6060d0;
    color: white;
}

  .footer {
    background-color: #333; /* Темный фон */
    color: #fff; /* Белый текст */
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* train.html */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Высота на всю страницу */
}

.card {
    position: relative;
    width: 200px; /* Минимальная ширина карточки */
    height: 300px; /* Высота карточки */
    perspective: 500px;
    margin: 20px; /* Отступы между карточками */
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgba(41, 251, 247, 0.5); /* Цвет задней стороны карточки */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-back {
    transform: rotateY(180deg);
    color: white;
    background-color: rgba(41, 251, 247, 0.3); /* Цвет задней стороны карточки */
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}